{% extends 'base.html.twig' %}

{% block title %}Hello NotesController!{% endblock %}

{% block body %}
{% if app.user %}
            <div class="mb-3 ">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
{% endif %}
<div data-controller="dropdown">
    <form method="POST" action="{{ path('app_add_counter_guide') }} " data-controller="select" >
        <select name="role" data-select-target="parent" data-action="change->select#parentChanged" data-dropdown-target="inputRole" required>
            <option value="">Wybierz rolę</option>
            <option value="Top">Top</option>
            <option value="Jungle">Jungle</option>
            <option value="Mid">Mid</option>
            <option value="ADC">ADC</option>
            <option value="Support">Support</option>
        </select>
        
        <select name="champion" data-select-target="child" data-controller="symfony--ux-autocomplete--autocomplete" data-dropdown-target="inputChampion" required>
            <option value="">Wybierz champion</option>
            
        </select>
        <select name="targetChampion" data-select-target="child2" data-controller="symfony--ux-autocomplete--autocomplete" data-dropdown-target="inputTargetChampion" required>
            <option value="">Wybierz Target Champion</option>
            
        </select>
        
        <input type="text" name="notes" placeholder="Notes" data-dropdown-target="inputNotes" value="" required>
    
        <div class="flex max-w-[520px]">
            
            <div class='flex flex-col' >
                <div  class="relative w-64">
                    <!-- Toggle Button -->
                    <button
                        type="button"
                        data-action="click->dropdown#toggle"
                        data-dropdown-target="button"
                        class="flex items-center justify-between w-full px-4 py-2 text-left bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
                    >
                        <div class="flex items-center">
                            <img src="https://static.bigbrain.gg/assets/lol/runes/8000.png" data-dropdown-target="image" width="32px" height="32px" alt="">
                            <span data-dropdown-target="selected">Precision</span>
                        </div>
                        <svg class="inline-block w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                        </svg>
                    </button>

                    <!-- Options List -->
                    <ul
                        data-dropdown-target="options"
                        class="absolute z-10 hidden w-full mt-1 bg-white border border-gray-300 rounded-md shadow-lg"
                    >
                        <li
                            data-action="click->dropdown#select"
                            data-image="https://static.bigbrain.gg/assets/lol/runes/8000.png"
                            data-value="1"
                            class="flex items-center px-4 py-2 cursor-pointer hover:bg-gray-100"
                        ><img src="https://static.bigbrain.gg/assets/lol/runes/8000.png" width="32px" height="32px" alt="">Precision</li>
                        <li
                            data-action="click->dropdown#select"
                            data-image="https://static.bigbrain.gg/assets/lol/runes/8100.png"
                            data-value="2"
                            class="flex items-center px-4 py-2 cursor-pointer hover:bg-gray-100"
                        ><img src="https://static.bigbrain.gg/assets/lol/runes/8100.png" width="32px" height="32px" alt="">Domination</li>
                        <li
                            data-action="click->dropdown#select"
                            data-image="https://static.bigbrain.gg/assets/lol/runes/8200.png"
                            data-value="3"
                            class="flex items-center px-4 py-2 cursor-pointer hover:bg-gray-100"
                        ><img src="https://static.bigbrain.gg/assets/lol/runes/8200.png" width="32px" height="32px" alt="">Sorcery</li>
                        <li
                            data-action="click->dropdown#select"
                            data-image="https://static.bigbrain.gg/assets/lol/runes/8400.png"
                            data-value="4"
                            class="flex items-center px-4 py-2 cursor-pointer hover:bg-gray-100"
                        ><img src="https://static.bigbrain.gg/assets/lol/runes/8400.png" width="32px" height="32px" alt="">Resolve</li>
                        <li
                            data-action="click->dropdown#select"
                            data-image="https://static.bigbrain.gg/assets/lol/runes/8300.png"
                            data-value="5"
                            class="flex items-center px-4 py-2 cursor-pointer hover:bg-gray-100"
                        ><img src="https://static.bigbrain.gg/assets/lol/runes/8300.png" width="32px" height="32px" alt="">Inspiration</li>
                    </ul>
                </div>
                <!-- Grid matrix -->
                <div class="flex flex-col">
                    <div class="flex justify-between border-b">
                        <div class="flex items-center justify-center ">
                            <button
                                type="button"
                                name="gridButton"
                                data-action="click->dropdown#button"
                                data-value="1"
                                data-state="false"
                            >
                                <img src="https://static.bigbrain.gg/assets/lol/riot_static/15.7.1/img/small-perk-images/Styles/Resolve/GraspOfTheUndying/GraspOfTheUndying.png" data-dropdown-target="image_t1_1" class="grayscale" alt="">
                            </button>
                        </div>
                        <div class="flex items-center justify-center">
                            <button
                                type="button"
                                name="gridButton"
                                data-action="click->dropdown#button"
                                data-value="2"
                                data-state="false"
                            >
                                <img src="https://static.bigbrain.gg/assets/lol/riot_static/15.7.1/img/small-perk-images/Styles/Resolve/GraspOfTheUndying/GraspOfTheUndying.png" data-dropdown-target="image_t1_2" class="grayscale" alt="">
                            </button>
                        </div>
                        <div class="flex items-center justify-center">
                            <button
                                type="button"
                                name="gridButton"
                                data-action="click->dropdown#button"
                                data-value="3"
                                data-state="false"
                            >
                                <img src="https://static.bigbrain.gg/assets/lol/riot_static/15.7.1/img/small-perk-images/Styles/Resolve/GraspOfTheUndying/GraspOfTheUndying.png" data-dropdown-target="image_t1_3" class="grayscale" alt="">
                            </button>
                        </div>

                        <div class="flex items-center justify-center hidden">
                            <button
                                type="button"
                                name="gridButton"
                                data-action="click->dropdown#button"
                                data-value="4"
                                data-state="false"
                            >
                                <img src="https://static.bigbrain.gg/assets/lol/riot_static/15.7.1/img/small-perk-images/Styles/Resolve/GraspOfTheUndying/GraspOfTheUndying.png" data-dropdown-target="image_t1_4" class="grayscale" alt="">
                            </button>
                        </div>
                    </div>
                    
                    <div class="flex justify-between">
                        <div class="flex items-center justify-center ">
                            <button
                                type="button"
                                name="gridButton"
                                data-action="click->dropdown#button"
                                data-value="5"
                                data-state="false"
                            >
                                <img src="https://static.bigbrain.gg/assets/lol/riot_static/15.7.1/img/small-perk-images/Styles/Inspiration/HextechFlashtraption/HextechFlashtraption.png" data-dropdown-target="image_t2_1" width="32px" height="32px" class="grayscale" alt="">
                            </button>
                        </div>
                        <div class="flex items-center justify-center">
                            <button
                                type="button"
                                name="gridButton"
                                data-action="click->dropdown#button"
                                data-value="6"
                                data-state="false"
                            >
                                <img src="https://static.bigbrain.gg/assets/lol/riot_static/15.7.1/img/small-perk-images/Styles/Inspiration/HextechFlashtraption/HextechFlashtraption.png" data-dropdown-target="image_t2_2" width="32px" height="32px" class="grayscale" alt="">
                            </button>
                        </div>
                        <div class="flex items-center justify-center">
                            <button
                                type="button"
                                name="gridButton"
                                data-action="click->dropdown#button"
                                data-value="7"
                                data-state="false"
                            >
                                <img src="https://static.bigbrain.gg/assets/lol/riot_static/15.7.1/img/small-perk-images/Styles/Inspiration/HextechFlashtraption/HextechFlashtraption.png" data-dropdown-target="image_t2_3" width="32px" height="32px" class="grayscale" alt="">
                            </button>
                        </div>
                    </div>
                    
                    <div class="flex justify-between">
                        <div class="flex items-center justify-center">
                            <button
                                type="button"
                                name="gridButton"
                                data-action="click->dropdown#button"
                                data-value="8"
                                data-state="false"
                            >
                                <img src="https://static.bigbrain.gg/assets/lol/riot_static/15.7.1/img/small-perk-images/Styles/Inspiration/HextechFlashtraption/HextechFlashtraption.png" data-dropdown-target="image_t3_1" width="32px" height="32px" class="grayscale" alt="">
                            </button>
                        </div>
                        <div class="flex items-center justify-center">
                            <button
                                type="button"
                                name="gridButton"
                                data-action="click->dropdown#button"
                                data-value="9"
                                data-state="false"
                            >
                                <img src="https://static.bigbrain.gg/assets/lol/riot_static/15.7.1/img/small-perk-images/Styles/Inspiration/HextechFlashtraption/HextechFlashtraption.png" data-dropdown-target="image_t3_2" width="32px" height="32px" class="grayscale" alt="">
                            </button>
                        </div>
                        <div class="flex items-center justify-center">
                            <button
                                type="button"
                                name="gridButton"
                                data-action="click->dropdown#button"
                                data-value="10"
                                data-state="false"
                            >
                                <img src="https://static.bigbrain.gg/assets/lol/riot_static/15.7.1/img/small-perk-images/Styles/Inspiration/HextechFlashtraption/HextechFlashtraption.png" data-dropdown-target="image_t3_3" width="32px" height="32px" class="grayscale" alt="">
                            </button>
                        </div>
                    </div>
                    
                    <div class="flex justify-between">
                        <div class="flex items-center justify-center">
                            <button
                                type="button"
                                name="gridButton"
                                data-action="click->dropdown#button"
                                data-value="11"
                                data-state="false"
                            >
                                <img src="https://static.bigbrain.gg/assets/lol/riot_static/15.7.1/img/small-perk-images/Styles/Inspiration/HextechFlashtraption/HextechFlashtraption.png" data-dropdown-target="image_t4_1" width="32px" height="32px" class="grayscale" alt="">
                            </button>
                        </div>
                        <div class="flex items-center justify-center">
                            <button
                                type="button"
                                name="gridButton"
                                data-action="click->dropdown#button"
                                data-value="12"
                                data-state="false"
                            >
                                <img src="https://static.bigbrain.gg/assets/lol/riot_static/15.7.1/img/small-perk-images/Styles/Inspiration/HextechFlashtraption/HextechFlashtraption.png" data-dropdown-target="image_t4_2" width="32px" height="32px" class="grayscale" alt="">
                            </button>
                        </div>
                        <div class="flex items-center justify-center">
                            <button
                                type="button"
                                name="gridButton"
                                data-action="click->dropdown#button"
                                data-value="13"
                                data-state="false"
                            >
                                <img src="https://static.bigbrain.gg/assets/lol/riot_static/15.7.1/img/small-perk-images/Styles/Inspiration/HextechFlashtraption/HextechFlashtraption.png" data-dropdown-target="image_t4_3" width="32px" height="32px" class="grayscale" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" data-action="dropdown#send">zapisz</button>
        
    </form>
</div>
{% endblock %}