{% extends 'base.html.twig' %}

{% block title %}Hello NotesController!{% endblock %}

{% block body %}
{% if app.user %}
            <div class="mb-3 ">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
{% endif %}
    
    <form method="POST" action="{{ path('app_add_counter_guide') }} " data-controller="select" >
        <select name="role" data-select-target="parent" data-action="change->select#parentChanged" required>
            <option value="">Wybierz rolę</option>
            <option value="Top">Top</option>
            <option value="Jungle">Jungle</option>
            <option value="Mid">Mid</option>
            <option value="ADC">ADC</option>
            <option value="Support">Support</option>
        </select>
        
        <select name="champion" data-select-target="child" data-controller="symfony--ux-autocomplete--autocomplete" required>
            <option value="">Wybierz champion</option>
            
        </select>
        <select name="targetChampion" data-select-target="child2" data-controller="symfony--ux-autocomplete--autocomplete" required>
            <option value="">Wybierz Target Champion</option>
            
        </select>
        
        <input type="text" name="notes" placeholder="Notes" value="" required>
       
        
        
        <div data-controller="rune">
            <select name="tree" data-controller="symfony--ux-autocomplete--autocomplete" data-rune-target="tree" data-action="change->rune#parentChanged" required>
                <option value="">Wybierz drzewko</option>
                <option value="precision">precision</option>
                <option value="domination">domination</option>
                <option value="sorcery">sorcery</option>
            </select>
            
            <select name="rune1" data-controller="symfony--ux-autocomplete--autocomplete" data-rune-target="rune1" required>
                <option value="">Wybierz runę 1</option>  
            </select>
            
            <select name="rune2" data-controller="symfony--ux-autocomplete--autocomplete" data-rune-target="rune2" required>
                <option value="">Wybierz runę 2</option>
            </select>
            
            <select name="rune3" data-controller="symfony--ux-autocomplete--autocomplete" data-rune-target="rune3" required>
                <option value="">Wybierz runę 3</option>
            </select>
            
            <select name="rune4" data-controller="symfony--ux-autocomplete--autocomplete" data-rune-target="rune4" required>
                <option value="">Wybierz runę 4</option>
            </select>
        </div>
        
        <input type="submit" value="Submit">
        
    </form>
 
{% endblock %}